<md-content class="md-padding" layout-wrap>

    <!-- header row -->
    <div layout="row" flex="100" class="albumHeader">
        <div flex="50"
             flex-gt-xs="45"
             flex-gt-sm="30">
            <p>Album Name</p>
        </div>
        <div hide show-gt-xs
             flex-gt-xs="25"
             flex-gt-sm="20">
            <p>Artist</p>
        </div>
        <div hide show-gt-sm
             flex-gt-sm="15">
            <p>Genre</p>
        </div>
        <div hide show-gt-sm
             flex-gt-sm="15">
            <p>Owner</p>
        </div>
        <div flex="30"
             flex-gt-xs="15"
             flex-gt-sm="10">
            <p>Last Listen</p>
        </div>
        <div flex="20"
             flex-gt-xs="15"
             flex-gt-sm="10">
            <p>Listens</p>
        </div>
    </div>

    <!-- table row content loop -->
    <div layout="row" flex="100" class="albumRow" layout-wrap
         ng-repeat="album in albums | filter:userFilter | orderBy:'albumName' ">
        
        <!-- primary row elements --> 
        <div flex="50" flex-gt-xs="45" flex-gt-sm="30">
            <p><a ng-init="toggleDetails = false" ng-click="toggleDetails = !toggleDetails; showUpdateBtn = false"
                  style="cursor: pointer; text-decoration: underline;">
                {{ album.albumName }}
                </a></p>
        </div>
        <div hide show-gt-xs
             flex-gt-xs="25"
             flex-gt-sm="20">
            <p>{{ album.albumArtist }}</p>
        </div>
        <div hide show-gt-sm
             flex-gt-sm="15">
            <p>{{ album.albumGenre }}</p>
        </div>
        <div hide show-gt-sm
             flex-gt-sm="15">
            <p>{{ album.albumOwner }}</p>
        </div>
        <div flex="30"
             flex-gt-xs="15"
             flex-gt-sm="10">
            <p>{{ album.albumLastListen }}</p>
        </div>
        <div flex="20"
             flex-gt-xs="15"
             flex-gt-sm="10">
            <p>{{ album.albumNumberListens }}</p>
        </div>
        
        <!-- toggled row elements --> 
        <div ng-class="{ 'hidethisbooger': !toggleDetails }" class="albumdetails" flex="100">
            <md-card md-whiteframe="6">
                <md-card-title md-whiteframe="3">
                    <md-card-title-text>
                        <span class="md-headline"> {{ album.albumName }} </span>
                        <span class="md-subhead"> ID: {{ album._id }} </span>
                    </md-card-title-text>
                </md-card-title>
                
                <md-card-content>
                    <div ng-if="!showUpdateBtn">
                        <div layout="column">
                            <div layout="row">
                                <div class="card-row-titles" flex="none">
                                    <span>Album:</span>
                                </div>
                                <div class="card-row-details" flex>
                                    <span> {{ album.albumName }} </span>
                                </div>
                            </div>
                            <div layout="row">
                                <div class="card-row-titles" flex="none">
                                    <span>Artist:</span>
                                </div>
                                <div class="card-row-details" flex>
                                    <span> {{ album.albumArtist }} </span>
                                </div>
                            </div>
                            <div layout="row">
                                <div class="card-row-titles" flex="none">
                                    <span>Genre:</span>
                                </div>
                                <div class="card-row-details" flex>
                                    <span> {{ album.albumGenre }} </span>
                                </div>
                            </div>
                            <div layout="row">
                                <div class="card-row-titles" flex="none">
                                    <span>Owner:</span>
                                </div>
                                <div class="card-row-details" flex>
                                    <span> {{ album.albumOwner }} </span>
                                </div>
                            </div>
                            <div layout="row">
                                <div class="card-row-titles" flex="none">
                                    <span>Last Listen:</span>
                                </div>
                                <div class="card-row-details" flex>
                                    <span> {{ album.albumLastListen }} </span>
                                </div>
                            </div>
                            <div layout="row">
                                <div class="card-row-titles" flex="none">
                                    <span>Number of Listens:</span>
                                </div>
                                <div class="card-row-details" flex>
                                    <span> {{ album.albumNumberListens }} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <form ng-if="showUpdateBtn">
                        <md-input-container>
                            <label for="newName">Album Name</label>
                            <input type="text" id="newName"
                                   placeholder="{{ album.albumName }}"
                                   ng-model="updateData.newName" md-autofocus>
                        </md-input-container>
                        <md-input-container>
                            <label for="newArtist">Artist</label>
                            <input type="text" id="newArtist"
                                   placeholder="{{ album.albumArtist }}"
                                   ng-model="updateData.newArtist">
                        </md-input-container>
                        <md-input-container>
                            <label for="newGenre">Genre</label>
                            <input type="text" id="newGenre"
                                   placeholder="{{ album.albumGenre }}"
                                   ng-model="updateData.newGenre">
                        </md-input-container>
                        <md-input-container>
                            <label for="newOwner">Owner</label>
                            <input type="text" id="newOwner"
                                   placeholder="{{ album.albumOwner }}"
                                   ng-model="updateData.newOwner">
                        </md-input-container>
                        <md-input-container>
                            <label for="newLastListen">Last Listen</label>
                            <input type="text" id="newLastListen"
                                   placeholder="{{ album.albumLastListen }}"
                                   ng-model="updateData.newLastListen">
                        </md-input-container>
                        <md-input-container>
                            <label for="newListens">Listens</label>
                            <input type="text" id="newListens"
                                   placeholder="{{ album.albumNumberListens }}"
                                   ng-model="updateData.newListens">
                        </md-input-container>
                    
                            <md-input-container md-no-float class="md-block">
                                <textarea placeholder="Notes" md-maxlength="1000" rows="5"></textarea>
                            </md-input-container>

                    </form>
                
                </md-card-content>
                
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-primary md-raised md-small" ng-click="showUpdateBtn = true"
                               ng-show="!showUpdateBtn">
                        <md-icon class="mdi mdi-pencil"></md-icon>
                        <span hide show-gt-xs>Edit</span>
                    </md-button>
                    <md-button class="md-warn md-raised md-small"
                               ng-click="updateAlbum(album._id)"
                               ng-show="showUpdateBtn">
                        <md-icon class="mdi mdi-content-save"></md-icon>
                        <span hide show-gt-xs>Update</span>
                    </md-button>
                    <md-button class="md-warn md-raised md-small"
                               ng-click="deleteAlbum(album._id)"
                               ng-show="showUpdateBtn">
                        <md-icon class="mdi mdi-delete"></md-icon>
                        <span hide show-gt-xs>Delete</span>
                    </md-button>
                    <md-button class="md-accent md-raised md-small"
                               ng-click="showUpdateBtn = !showUpdateBtn"
                               ng-show="showUpdateBtn">
                        <md-icon class="mdi mdi-close-circle-outline"></md-icon>
                        <span hide show-gt-xs>Cancel</span>
                    </md-button>
                    <md-button class="md-accent md-raised md-small"
                               ng-click="toggleDetails = !toggleDetails"
                               ng-show="!showUpdateBtn">
                        <md-icon class="mdi mdi-close-circle-outline"></md-icon>
                        <span hide show-gt-xs>Close</span>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
        
    </div>
</md-content>